<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto d-flex align-items-center">
        <a class="navbar-brand h1 mb-0" routerLink="/dashboard"
          ><fa-icon [icon]="faAngular" size="lg"></fa-icon> Hello Angular</a
        >
      </div>

      <div class="col d-flex d-lg-none justify-content-end">
        <button
          class="btn text-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col d-lg-flex d-none align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/heroes" class="nav-link">Heroes</a>
          </li>
        </ul>
      </div>
      <div class="col d-lg-flex d-none justify-content-end">
        <a
          target="_blank"
          href="https://github.com/maxcaplan"
          class="btn text-light"
          ><fa-icon [icon]="faGithub" size="2x"></fa-icon
        ></a>
        <a
          target="_blank"
          href="https://maxcaplan.github.io"
          class="btn text-light"
          ><fa-icon [icon]="faUserCircle" size="2x"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</nav>

<div class="d-block d-lg-none">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container-fluid bg-dark py-3">
      <div class="row">
        <div class="col pb-3 border-bottom border-secondary">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link text-light"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a routerLink="/heroes" class="nav-link text-light">Heroes</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col d-flex justify-content-end">
          <a
            target="_blank"
            href="https://github.com/maxcaplan"
            class="btn text-light"
            ><fa-icon [icon]="faGithub" size="2x"></fa-icon
          ></a>
          <a
            target="_blank"
            href="https://maxcaplan.github.io"
            class="btn text-light"
            ><fa-icon [icon]="faUserCircle" size="2x"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
