.hero-card {
  overflow: hidden;
}

.hero-card a {
  text-decoration: none;
  color: #212529;
  position: relative;
}

.hero-card a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease;
}

.hero-card a:hover::after {
  background: rgba(0, 0, 0, 0.15);
}
